body {
    margin: 0;
    padding: 0;
    background: #ffe6f2;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #ff3d8a;
    margin-bottom: 30px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: 0.2s;
}

#yesBtn {
    background: #ff3d8a;
    color: white;
}

#yesBtn:hover {
    background: #ff116c;
}

#noBtn {
    background: #dddddd;
}

#noBtn:hover {
    background: #bbbbbb;
}
